@import '~antd-mobile/lib/style/themes/default';
@import '~antd-mobile/lib/style/mixins';

@search-box-prefix-cls: ~'antui-search-box';

.@{search-box-prefix-cls} {
  & > .top-search-bar {
    position: relative;
    z-index: 90;
    display: flex;
    align-items: center;
  }
  .goback-btn {
    height: 44px;
    flex: none;
    display: flex;
    padding-left: 10px;
    align-items: center;
    > * {
      transform: rotate(180deg);
      color: rgba(0, 0, 0, 0.3);
      font-size: 18px;
    }
  }
  & > .search-toolbar {
    position: relative;
    overflow: hidden;
    z-index: 90;
    .hairline('top', rgba(0, 0, 0, 0.1));
    .hairline('bottom', rgba(0, 0, 0, 0.1));
    background-color: #e1f5fe; //rgba(255, 255, 255, .7);
    display: flex;
    justify-content: space-between;
    .toolbar__filters {
      display: flex;
      flex: auto;
      overflow: hidden;
      .goback-btn {
        flex: none;
      }
    }
    .toolbar__left-section {
      display: flex;
      overflow: hidden;
      flex: auto;
    }
    .toolbar__right-section {
      display: flex;
      flex: none;
      align-items: center;
      box-shadow: -12px 0 20px 4px #e1f5fe;
      z-index: 1;
      .dropdown__trigger {
        position: relative;
        .hairline('left', #eee);
      }
      .button {
        margin-right: 1.1rem;
      }
    }
    .dropdown {
      list-style-type: none;
      flex: auto;
      display: flex;
      overflow: auto;
      padding: 0;
      margin: 0;
      color: #333;
      > li {
        height: 44px;
        display: flex;
        align-items: center;
      }
      .dropdown__trigger {
        padding: 0 2rem 0rem 1rem;
        transition: background-color 0.2s ease;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:after {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          position: relative;
          top: -2px;
          right: -1rem;
          border: none;
          border-right: 2px solid;
          border-top: 2px solid;
          transform: rotate(135deg);
        }
        &:active,
        &.active {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  .search-box-dropdown {
    position: absolute;
    z-index: 90;
    width: 100%;
    height: auto !important;
    max-height: 50vh;
  }
  
  .menu-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 89;
  }
}
