.home-page {
  .am-grid {
    .grid-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      line-height: 2;
    }
    .am-grid-item-content {
      i {
        font-size: 10vw;
        color: #333;
      }
      h4 {
        font-size: 4vw;
        margin: 0;
        color: #666;
      }
    }
  }
}